@import 'index';

/* You can add global styles to this file, and also import other style files */
html {
  --root-font-size: #{$root-font-size};
  font-size: var(--root-font-size);
  display: flex;
  min-height: 100vh;
}

body {
  display: flex;
  flex: 1;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: $bg-color;
}

.flex-row {
  @include flex-row;
}

.flex-center {
  @include flex-center-column;
}

.d-flex {
  display: flex;
}

.d-none {
    display: none;
}

.d-none-sm {
    @include media("<phone") {
        display: none !important;
    }
}

.d-sm {
    @include media(">=phone") {
        display: none;
    }
    @include media("<phone") {
        display: block;
    }
}

.p-absolute {
    position: absolute;
}

.mat-card-header-text {
  margin: 0;
  flex: 1;
}