@import 'index';

/* You can add global styles to this file, and also import other style files */
html {
  --root-font-size: #{$root-font-size};
  font-size: var(--root-font-size);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: $bg-color;
}

.flex-center {
  @include flex-center-column;
}
