@import 'index';

:host {
  position: relative;
  display: flex;
  flex: 1;
  max-height: 100vh;
}

.navs {
  z-index: 0;
  width: $nav-max-width;
  height: 100%;
  position: absolute;
  max-height: 100vh;
  @include media('<phone') {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3;
  }
}

.nav-spacer {
  width: 30%;
  transition: $global-transition-time;
  @include media('<phone') {
    width: calc(24px + 3rem) !important;
  }
}

.data-display {
  flex: 1;
  z-index: 1;
  max-height: 100vh;
  overflow-y: scroll;
  padding: 2rem;
}

.items-container {
  position: relative;
  @include full-width;
}

.masonry-item {
  @include media('<=tablet') {
    width: 100% !important;
  }
}

ngx-masonry{
  width: 100% !important;
      margin: auto;
}
.search-item {
  padding: 1rem;
}