@mixin hover-cursor-pointer {
  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
  }
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}

@mixin hover-colors($hover-bg, $hover-text) {
  &:hover,
  &:focus,
  &:active,
  &.active {
    background-color: $hover-bg;
    color: $hover-text
  }
}
